# Intellij
**/.idea/
*.iml

# Maven
**/target/

# Spring Boot
**/bin/**
**/build/*
**/log/*
**/out/*

# node_modules
**/dist/*
**/node_modules/*

# config
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
/vue.config.js